# Copy to .env. Nest app + Drizzle use this file.
NODE_ENV=development
API_PORT=3030
API_APP_NAME=NestJS API
API_PREFIX=api
FRONTEND_ORIGIN=http://localhost:3000

DATABASE_TYPE=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
DATABASE_NAME=api
DATABASE_URL=postgresql://root:secret@localhost:5432/api
